/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.logo-pic {
    margin-left: 30px;
    margin-top: 30px;
}
:root {
    --black100: rgba(31, 32, 65, 1);
    --black75: rgba(31, 32, 65, 0.75);
    --black50: rgba(31, 32, 65, 0.5);
    --black25: rgba(31, 32, 65, 0.25);
    --black5: rgba(31, 32, 65, 0.5);
    --purple: #BC9CFF;
    --green: #6FCF97;
}
body {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}
h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #1F2041;
}
h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
}
h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #1F2041;
    text-transform: uppercase;
}

.color-type {
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-top: 69px;
    margin-right: 158px;
    justify-content: space-between;
}
.color {
    max-width: 282px;
    width: 282px;
    height: 610px;
}
.color__item {   
    display: flex; 
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.color__view {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 40px;
}
.color__text {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.color__name {
    line-height: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #1F2041;
}
.color__hex {
    line-height: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #1F2041;
}
.type {
    max-width: 500px;
    width: 436px;
    height: 321px;
}
.type__item {
    display: flex; 
    margin-bottom: 51px;
}
.type__label {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    margin-right: 30px;
    color: var(--black25);
    width: 37px;
    text-align: right;
}
.type__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}
.dark-shade100 {
   background-color: var(--black100);
}
.dark-shade75 {
    background-color: var(--black75);
}
.dark-shade50 {
    background-color: var(--black50);
}
.dark-shade25 {
    background-color: var(--black25);
}
.dark-shade5 {
    background-color: var(--black5)
}
.purple {
    background: var(--purple);
}
.green {
    background: var(--green);
}
.type__label__size-h1 {
    font-size: 24px;
    line-height: 29px;
}
.type__label__size-h2 {
    font-size: 19px;
    line-height: 23px;
}
.type__label__size-h3 {
    font-size: 12px;
    line-height: 15px;
}
.type__label__size-body {
    font-size: 14px;
    line-height: 24px;
}
.type__text__size-body {
    font-weight: 400;
    width: 301px;
}
.footer {
     height: 78px;
}