- var tfLabel = 'Text field333'

form.text-field-default
	h3
		.container
			label(for='text-field') #{tfLabel}
			label.text-color50(for='default') Default
	input.text-field(type='email' placeholder='Email' name='email')