@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/montserrat-v15-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/montserrat-v15-latin_cyrillic-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../fonts/montserrat-v15-latin_cyrillic-regular.woff")
			format("woff"),
		/* Modern Browsers */
			url("../fonts/montserrat-v15-latin_cyrillic-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat")
			format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/montserrat-v15-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("../fonts/montserrat-v15-latin_cyrillic-700.woff2")
			format("woff2"),
		/* Super Modern Browsers */
			url("../fonts/montserrat-v15-latin_cyrillic-700.woff") format("woff"),
		/* Modern Browsers */
			url("../fonts/montserrat-v15-latin_cyrillic-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat")
			format("svg"); /* Legacy iOS */
}

$var1: #1f2041;
$var2: #bc9cff;
$var3: #6fcf97;

html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.logo-pic {
	margin-left: 30px;
	margin-top: 30px;
}
body {
	font-family: "Montserrat";
	font-style: normal;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.75);
}
h1 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: $var1;
}
h2 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 19px;
	line-height: 23px;
	color: $var1;
}
h3 {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	font-size: 12px;
	line-height: 15px;
	color: $var1;
	text-transform: uppercase;
}
.color-type {
	display: flex;
	flex-wrap: wrap;
	margin-left: 150px;
	margin-top: 69px;
	margin-right: 158px;
	margin-bottom: 150px;
	justify-content: space-between;
}
.color {
	max-width: 282px;
	width: 282px;
	height: 610px;
	&__item {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	&__view {
		width: 70px;
		height: 70px;
		border-radius: 6px;
		margin-right: 40px;
	}
	&__text {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}
	&__name {
		line-height: 28px;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 700;
		font-size: 19px;
		color: $var1;
	}
	&__hex {
		line-height: 28px;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		font-size: 19px;
		color: $var1;
	}
}
.type {
	max-width: 500px;
	width: 436px;
	height: 321px;
	&__item {
		display: flex;
		margin-bottom: 51px;
	}
	&__label {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 400;
		margin-right: 30px;
		color: rgba(31, 32, 65, 0.25);
		width: 37px;
		text-align: right;
		&__size-h1 {
			font-size: 24px;
			line-height: 29px;
		}
		&__size-h2 {
			font-size: 19px;
			line-height: 23px;
		}
		&__size-h3 {
			font-size: 12px;
			line-height: 15px;
		}
		&__size-body {
			font-size: 14px;
			line-height: 24px;
		}
	}
	&__text {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 700;
		&__size-body {
			font-weight: 400;
			width: 301px;
		}
	}
}
.dark-shade100 {
	background-color: rgba(31, 32, 65, 1);
}
.dark-shade75 {
	background-color: rgba(31, 32, 65, 0.75);
}
.dark-shade50 {
	background-color: rgba(31, 32, 65, 0.5);
}
.dark-shade25 {
	background-color: rgba(31, 32, 65, 0.25);
}
.dark-shade5 {
	background-color: rgba(31, 32, 65, 0.05);
}
.purple {
	background: $var2;
}
.green {
	background: $var3;
}
.footer {
	height: 78px;
}
.form1 {
	width: 320px;
	height: 900px;
	margin-left: 140px;
}
.text-field {
	width: 320px;
	height: 44px;
	box-sizing: border-box;
	border: 1px solid rgba(31, 32, 65, 0.25);
	border-radius: 4px;
}
.text-color50 {
	color: rgba(31, 32, 65, 0.5);
}
.container {
	display: flex;
	justify-content: space-between;
}
input {
	padding-left: 15px;
	font-family: "Montserrat";
	font-style: normal;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: rgba(31, 32, 65, 0.75);
}
